img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

hr {
  color: #000;
  background-color: #000;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.social-header {
  padding-left: 40px;
  text-align: center;
  display: none;
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

@media (min-width: 640px) {
  .social-header {
    display: inline-block;
    height: 40px;
    padding: 5px 0px;
    width: 83%;
    text-align: right;
  }
}

.social-header__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.social-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-header ul li.social-header__icon,
.social-header ul li.social-header__text {
  display: inline-block;
}

.social-header__text {
  color: #E354EC;
}

.social-header ul li.social-header__form {
  display: none;
}

.social-header ul li a {
  text-decoration: none;
  color: black;
}

.social-header__form {
  margin-left: 50px;
  text-align: left;
  width: 300px;
}

.social-header__search {
  width: 275px;
  height: 30px;
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
}

.social-header__form > form > i {
  position: relative;
  left: -25px;
  color: #333;
}

.social-header input::-webkit-input-placeholder {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.social-header input:-ms-input-placeholder {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.social-header input::-ms-input-placeholder {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.social-header input::placeholder {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

@media (min-width: 1024px) {
  .social-header ul li.social-header__form {
    display: inline-block;
  }
}

.main-menu {
  background-color: black;
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  height: 70px;
  padding-top: 10px;
}

@media (min-width: 640px) {
  .main-menu {
    padding-top: 15px;
    height: 90px;
  }
}

.main-menu__logo {
  width: 100px;
  min-width: 100px;
  max-width: 200px;
}

@media (min-width: 640px) {
  .main-menu__logo {
    position: relative;
    bottom: 35px;
    width: 23%;
    min-width: 150px;
    max-width: 200px;
    margin-top: 5px;
  }
}

.main-menu ul {
  display: none;
}

@media (min-width: 640px) {
  .main-menu ul {
    list-style: none;
    position: absolute;
    width: 70%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    float: right;
    position: relative;
    right: 0;
  }
}

.main-menu ul li {
  display: inline-block;
}

.main-menu ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.main-menu ul li a:hover {
  color: #E354EC;
}

.wrapper {
  padding: 0 20px;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (min-width: 640px) {
  .row__3-column-at-desktop {
    float: left;
    width: 50%;
  }
  .row__gutters {
    margin-right: -15px;
  }
  .row__gutters > div {
    padding-right: 15px;
  }
  .row__2-column-at-desktop {
    float: left;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .row__3-column-at-desktop {
    float: left;
    width: 33.33%;
  }
}

.bg-color__gray {
  background-color: #DFDFDF;
}

.upcoming-events {
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 640px) {
  .upcoming-events {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 640px) {
  .upcoming-events > div > h2 {
    display: inline;
  }
}

.upcoming-events__icons {
  display: none;
}

.upcoming-events__icons::after {
  content: "";
  clear: both;
  display: table;
}

@media (min-width: 640px) {
  .upcoming-events__icons {
    display: inline;
    margin-top: 100px;
  }
}

.upcoming-events__icons-wrapper {
  width: 100px;
  float: right;
}

.upcoming-events__grid-view {
  background-color: white;
  width: 45px;
  height: 45px;
  display: inline-block;
  padding: 10px;
}

.upcoming-events__list-view {
  width: 45px;
  height: 45px;
  display: inline-block;
  padding: 10px;
}

.upcoming-events__grid-view img,
.upcoming-events__list-view img {
  width: 25px;
  height: 25px;
}

.upcoming-events__item {
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.upcoming-events__image {
  overflow: hidden;
}

.upcoming-events__image img {
  display: block;
  width: 40%;
  border: solid white 10px;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

@media (min-width: 640px) {
  .upcoming-events__image img {
    width: 100%;
    border: none;
  }
}

@media (min-width: 640px) {
  .upcoming-events__image img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-filter: opacity(0.6);
            filter: opacity(0.6);
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
  }
}

.upcoming-events__date-time {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background-color: black;
  color: #E354EC;
  font-size: 1.2rem;
  position: relative;
  z-index: 5;
}

.upcoming-events__date-time > h5 {
  margin: 0;
  padding: 10px 0 10px 20px;
}

.upcoming-events__day {
  float: right;
  background-color: #333;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  z-index: 10;
  bottom: 15px;
}

.upcoming-events__details {
  background-color: white;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 64%;
}

@media (min-width: 640px) {
  .upcoming-events__details {
    position: static;
    width: 100%;
    height: auto;
  }
}

.upcoming-events__details h3 {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-align: left;
  /*font-size: 1.5625rem;*/
  font-size: 1.2rem;
  font-weight: 300;
  color: #E354EC;
  margin-bottom: .1em;
  margin-top: 0px;
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}

@media (min-width: 400px) {
  .upcoming-events__details h3 {
    font-size: 1.8rem;
  }
}

@media (min-width: 640px) {
  .upcoming-events__details h3 {
    text-align: center;
    padding-top: 0;
    font-size: 1.5625rem;
  }
}

.upcoming-events__details h4 {
  /*font mixin found in _mixins.scss*/
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 100;
  font-size: .8rem;
  margin-top: 0;
  text-align: left;
}

@media (min-width: 400px) {
  .upcoming-events__details h4 {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  .upcoming-events__details h4 {
    text-align: center;
  }
}

.upcoming-events__buy-tix {
  background-color: #E354EC;
  width: 100%;
  text-align: center;
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
  padding: 1px;
  margin-bottom: 15px;
}

@media (min-width: 640px) {
  .upcoming-events__buy-tix {
    display: none;
  }
}

.upcoming-events__buy-tix p::before {
  content: url(../../assets/images/ticket.png);
  background-repeat: no-repeat;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.header__section-header {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.5625rem;
  letter-spacing: .18rem;
}

.header__display-inline-block {
  display: inline-block;
}

.header__pink-italics {
  /*font mixin found in _mixins.scss*/
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 100;
  color: #E354EC;
  margin-top: 0px;
}

.header__lowercase {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 100;
}

.newsletter {
  background-image: url("../../assets/images/newsletter-background-640-540.png");
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

@media (min-width: 640px) {
  .newsletter {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url("../../assets/images/newsletter-background-1480-796.png");
  }
}

.newsletter__dark-background {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 640px) {
  .newsletter__dark-background {
    width: 50%;
    min-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.newsletter h2 {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
  font-weight: 100;
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 2.6rem;
}

@media (min-width: 640px) {
  .newsletter h2 {
    line-height: auto;
  }
}

.newsletter .button {
  display: inline-block;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.button {
  border: solid 3px white;
  color: white;
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

.button:hover {
  background-color: white;
  color: black;
}

.login {
  display: none;
}

@media (min-width: 640px) {
  .login {
    display: inline;
    width: 17%;
    /*background-color: $fuchsia;*/
    color: white;
    font-size: .8rem;
    float: right;
    height: 40px;
    /*font mixin found in _mixins.scss*/
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding-top: 10px;
    cursor: pointer;
    background: -webkit-gradient(linear, right top, left top, color-stop(20%, #E354EC), to(#666));
    background: linear-gradient(to left, #E354EC 20%, #666);
    background-size: 350% 100%;
    background-position: right bottom;
    -webkit-transition: all .8s linear;
    transition: all .8s linear;
  }
  .login i {
    border-radius: 50%;
    border: 1px solid white;
    padding: 3px;
  }
}

@media (min-width: 640px) {
  .login:hover {
    background-position: left bottom;
    /*border-bottom: solid 3px $fuchsia;*/
  }
}

.waypoints {
  opacity: 0;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all .65s ease-out;
  transition: all .65s ease-out;
}

.waypoints__show-item {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.get-social-directions {
  margin-bottom: 60px;
}

.get-social-directions h2, .get-social-directions h3 {
  margin-bottom: 0px;
}

.get-social-directions__black-bar {
  background-color: black;
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
  text-align: center;
}

.get-social-directions__black-bar-tabs {
  /*font mixin found in _mixins.scss*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
  text-align: center;
}

.get-social-directions__black-bar p {
  padding: 8px;
  margin-bottom: 0px;
}

.get-social-directions__social-menu {
  padding: 0;
}

.get-social-directions__social-menu-item {
  display: inline-block;
  width: 32%;
  height: auto;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  background-color: black;
  vertical-align: top;
}

.get-social-directions__social-menu-item span {
  display: none;
}

.get-social-directions__social-menu-item:nth-child(1), .get-social-directions__social-menu-item:nth-child(2) {
  padding-right: 2px;
}

.get-social-directions__feed {
  height: 330px;
  background-image: url("../../assets/images/twitter-tab-feed.png");
  background-position: center;
}

.get-social-directions__map {
  height: 330px;
  background-image: url("../../assets/images/map-small.png");
  background-size: cover;
  border: 10px solid #efefef;
}

.get-social-directions__active-tab {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #E354EC), color-stop(50%, #d345e9));
  background: linear-gradient(to top right, #E354EC 50%, #d345e9 50%);
  position: relative;
}

@media (min-width: 400px) {
  .get-social-directions__map {
    background-image: url("../../assets/images/map.png");
  }
}

@media (min-width: 640px) {
  .get-social-directions__black-bar, .get-social-directions__black-bar-tabs, .get-social-directions__social-menu-item {
    height: 60px;
    margin-bottom: 20px;
  }
  .get-social-directions h2, .get-social-directions h3 {
    display: block;
  }
  .get-social-directions__social-menu-item span {
    display: inline;
  }
  .get-social-directions__social-menu-item span::before {
    content: "\a";
    white-space: pre;
  }
}
