img {
	max-width:100%;
	height:auto;	
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

hr {
    color: #000;
    background-color: #000;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
}

