
@mixin oswald {
    /*font mixin found in _mixins.scss*/
    font-family: 'Oswald', sans-serif; 
    text-transform: uppercase;
    letter-spacing: .1rem;
}

@mixin merriweather {
    /*font mixin found in _mixins.scss*/
    font-family: 'Merriweather', serif; 
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
    
}

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}