.social-header {
    padding-left: 40px;
    text-align: center;
    display: none;
    @include oswald;
    
    
    @media #{$tablet} {
        display: inline;
        height: 30px;
    }
    
    &__text{
        color: $fuchsia;
    }
    
    &__icon {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    & ul {
        list-style: none;
        margin: 0;
    }
    
    & ul li {
        display: inline-block; 
    }
    
    & ul li a {
        text-decoration: none;
        color: black;
    }
}